* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-text {
    background-color: white;
    color: #0C0C0C;
    font-size: 2rem;
}

.price-mute {
    font-size: 20px;
    /* margin-left: 25%; */
    display: block;
    padding-bottom: 1rem;
}

a {
    color: white;
}

.icons a i {
    font-size: 4rem;
}

.alert {
    font-size: 15rem;
    font-weight: bold;
}

.p_alert {
    font-size: 3rem;
    color: white;
    padding: 1rem 0;
}

.error h2 {
    font-size: 2rem;
    padding: 1rem 0;
}

.space {
    height: 8vh;
    /* width: 100%; */
}

.formulario {
    margin-top: 2rem;
}

.formulario a {
    padding: 5px;
}

.formulario input {
    margin: 0.5%;
}

.formulario {
    display: flex;
    color: white;
}

.btnfrm input {
    padding: 0.5rem;
    background-color: #92c649;
    border-radius: 0.5rem;
    border-style: none;
    color: white;
}

.error_icon {
    color: white;
    font-size: 4rem;
    padding: 1.5rem;
}

@media (min-width:800px) and (max-width:990px) {
    main .row {
        padding-top: 10%;
    }
    main .col-md-6 {
        margin: 4rem 0;
    }
}

@media (min-width:300px) and (max-width:800px) {
    main .row {
        padding-top: 45%;
    }
    main .display-4 {
        font-size: 3rem;
    }
}

@media (min-width:580px) and (max-width:800px) {
    main .row {
        padding-top: 20%;
    }
}

@media (min-width:990px) and (max-width:1200px) {
    nav .nav-link {
        margin: 0 10px;
    }
}

@media screen and (max-width:330px) {
    main .row {
        padding-top: 70%;
    }
    main .display-4 {
        font-size: 2rem;
    }
}

@media screen and (max-width:400px) {
    nav .col-md-2 img {
        display: none;
    }
    #tit {
        text-align: center;
    }
    #bienv {
        padding-top: 10%;
    }
    nav .col-md-2 a {
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {}